<form class="form" (ngSubmit)="onSubmit()" [formGroup]="form">
  <span herculesText texttype="sub" size="small" class="sender-hint">Получатель</span>
  <label
    herculesInputContainer
    size="small"
    placeholder="id подключения:"
    class="connection-id"
    [inputType]="connectionIdType"
  >
    <span herculesText texttype="sub" size="small">iD:</span>
    <input name="connectionId" formControlName="connectionId" maxlength="16" />
    <hercules-hint-dropdown
      [value]="connectionIdValue"
      [variables]="connections()"
      (onChoose)="onChooseConnection($event)"
    ></hercules-hint-dropdown>
  </label>
  <div class="fields">
    <label
      herculesTextfieldContainer
      size="medium"
      placeholderTop="Напишите сообщение прямо тут!"
      class="message-area"
      resize="none"
    >
      <span herculesText texttype="sub" size="small">{{ `utf-8, ${dataLength} символов` }}</span>
      <textarea name="data" formControlName="data"></textarea>
    </label>
    @if (isChoosenFormatHex) {
      <label
        herculesTextfieldContainer
        size="medium"
        placeholderTop=""
        class="message-area formated-area"
        resize="none"
        [disabled]="true"
        placeholderTop="Здесь сообщение в hex формате"
      >
        <span herculesText texttype="sub" size="small">hex</span>
        <textarea name="data-hex" [value]="dataHex" [disabled]="true"></textarea>
      </label>
    }
    @if (isChoosenFormatAscii) {
      <label
        herculesTextfieldContainer
        size="medium"
        placeholderTop=""
        class="message-area formated-area"
        resize="none"
        [disabled]="true"
        placeholderTop="Здесь сообщение в ascii формате"
      >
        <span herculesText texttype="sub" size="small">ascii</span>
        <textarea name="data-ascii" [value]="dataAscii" [disabled]="true"></textarea>
      </label>
    }
  </div>
  <div class="options">
    <div class="formats">
      <div>
        <button
          type="button"
          herculesToggleButton
          [active]="isToggleHexActive"
          (click)="onClickSetHex()"
        >
          HEX формат
        </button>
      </div>
      <div>
        <button
          type="button"
          herculesToggleButton
          [active]="isToggleAsciiActive"
          (click)="onClickSetAscii()"
        >
          ASCII формат
        </button>
      </div>
      <input name="format" formControlName="format" class="pseudo-input" />
    </div>
    @if (!(messageStatus() == 'pending')) {
      <button herculesButton buttonType="primary" [disabled]="form.invalid" type="submit">
        Отправить
      </button>
    } @else {
      <hercules-loader></hercules-loader>
    }
  </div>
</form>
