.arrow-button {
  transition: rotate 0.1s ease-out;
  transform-origin: center center;
}

.arrow-main {
  border-block-start: 1px solid var(--main-text-color);
  border-inline-end: 1px solid var(--main-text-color);
}

.arrow-sub {
  border-block-start: 1px solid var(--subtext-color);
  border-inline-end: 1px solid var(--subtext-color);
}

.arrow-up {
  rotate: -45deg;
}

.arrow-down {
  rotate: 135deg;
}

.arrow-small {
  width: 10px;
  height: 10px;
}

.arrow-medium {
  width: 15px;
  height: 15px;
}

.arrow-large {
  width: 20px;
  height: 20px;
}
