:root {
  --theme-color: #242424;
  --separator-color: #111111;
  --even-color: #343434;
  --primary-color: #ff6e00;
  --primary-hover-color: #d05a00;
  --main-text-color: #eee1e1;
  --subtext-color: #757575;
  --hovered-theme: #1f1f1f;
  --disabled-color: #4d4d4d;
  --neutral-text-color: #0069ff;
  --ok-text-color: #1e8f00;
  --warning-text-color: #ff6e00;
  --warning-color: #805123;
  --ok-color: #156300;
  --danger-text-color: #ff0000;
  --font: 'Inter', sans-serif;
  --code-font: 'Roboto Mono', monospace;
  --small-font-size: 10px;
  --medium-font-size: 14px;
  --large-font-size: 16px;
}
