.manual-setting {
  inline-size: 100%;
}

.tcp-input {
  inline-size: 210px;
}

.tcp-label {
  inline-size: 54px;
  block-size: 39px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tcp-label-connected {
  border: 1px solid var(--ok-color);
}

.main-form {
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
  align-items: center;
  padding-block: 37px;
}

.tcp-form {
  display: flex;
  gap: 10px;
  align-items: center;
  block-size: max-content;
}

.tea-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  inline-size: 220px;
}

.tea-input {
  inline-size: 105px;
}

.auth-code-input {
  inline-size: 218px;
}

.options {
  display: flex;
  gap: 15px;
}