.pseudo-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

.header {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filters-main {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-block-end: 15px;
}

.filter-options {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-configs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tcp-config {
  position: relative;
  inline-size: 90px;
}

.filters-search {
  display: flex;
  gap: 5px;
  align-items: center;
}

.search {
  inline-size: 200px;
}

.table-type {
  inline-size: 65px;
  padding-inline: 30px;
}

.table-ip,
.table-port {
  inline-size: 65px;
}

.table-id {
  inline-size: 40px;
}

.table-time {
  inline-size: 120px;
}

.table-message {
  max-inline-size: 300px;
  padding-inline-end: 30px;
}

.not-found-message {
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-block-start: 50px;
  block-size: 100%;
  z-index: 3;
}

.table-container {
  position: absolute;
  left: 0;
  inline-size: 100%;
  block-size: calc(100% - 100px);
  overflow-y: scroll;
  background-color: var(--theme-color);
  z-index: 2;
}

.empty-fill-table {
  inline-size: 100%;
  block-size: 50px;
}

@media (width <= 580px) {
  .filters-main {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .filters-search {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
