<header class="header">
  <nav class="main-links">
    <a
      herculesText="link"
      routerLinkActive="active-link"
      routerLink="/tcp-client"
      textType="main"
      size="large"
      >TCP клиент</a
    >
    <a
      herculesText="link"
      routerLinkActive="active-link"
      routerLink="/tcp-server"
      textType="main"
      size="large"
      >TCP сервер</a
    >
    <a
      herculesText="link"
      routerLinkActive="active-link"
      routerLink="/http-client"
      textType="main"
      size="large"
      >HTTP клиент</a
    >
  </nav>
  <nav>
    <a
      herculesText="link"
      routerLinkActive="active-link"
      routerLink="/settings"
      textType="main"
      size="large"
      >Настройки</a
    >
  </nav>
</header>
